@import "./theme";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/media";
@import "~bulma/sass/grid/columns";

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

hr {
  margin: 1rem auto;
  width: 60px;
}
.photo {
  margin: 48px auto 24px;
}

span {
  &.emoji {
    font-weight: $weight-normal;
  }
}

.navbar-menu {
  box-shadow: none;
}

.navbar-burger {
  border: 0;
  background-color: transparent;
}

[aria-label] {
  position: relative;
}

[aria-label]:after {
  content: attr(aria-label);
  display: none;
  position: absolute;
  top: 110%;
  left: 10px;
  z-index: 5000;
  pointer-events: none;
  padding: 8px 10px;
  line-height: 15px;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  font-size: 0.9em;
  font-weight: normal;
  color: $editor-foreground;
  background-color: $editor-menu-background;
  // border-left: 6px solid #d37092;
  // -webkit-border-radius: 2px;
  // border-radius: 2px;
  // -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  // box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

a:focus {
  outline: 1px dashed $editor-activity-bar-badge;
}

[aria-label]:hover:after,
[aria-label]:focus:after {
  display: block;
}
